
.App {
  width: 50%; 
  margin-left: 20%;
  margin-top: 5%;
}


.App .playerContainer{
  box-shadow: 1px 1px 1px 1px grey;
  padding: 10px; 
}


.App .playerContainer .close{
  float:right;
  display:inline-block;
  padding:2px 5px;
  cursor: pointer;
}

